.navbar-side {
  position: fixed;
  top: -100%; /* Start off-screen above */
  left: 0;
  width: 100%; /* Full width */
  height: auto; /* Adjust height to fit content */
  background-color: rgb(26, 158, 136);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 999;
  transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
  transform: translateY(0); /* Default position */
  opacity: 0; /* Default opacity */
}

.navbar-side.open {
  top: 0; /* Slide in from the top */
  opacity: 1; /* Full opacity when open */
}

.navbar-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Space below the logo */
}

.logo-image {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

.navbar-side-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align menu items */
}

.navbar-side-menu li {
  margin-bottom: 15px;
}

.navbar-side-menu a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.hire-me-btn {
  background-color: #6200ea;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: auto; /* Push the button to the bottom */
}

.close-btn {
  background: #e90000;
  border: 1px solid black;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
