html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav.navbar {
  padding: 10px 30px;
}

.navbar-logo a {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 20px;
  height: 41px;
  width: auto;
}

.navbar-menu ul {
  display: flex;
  gap: 20px; /* Adjusted gap for better spacing */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  display: flex;
  align-items: center;
}

.navbar-menu a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.hire-me-btn {
  background-color: #6200ea;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
